@import "_functions";

$_fix-scroll: false;
$_grid-fixed: true;
$_min-font: 12px;
$_max-font: 15px;
$variables: (
  container: 1460px,
  edge-padding: 15px,
  font-size: (
    base: $_max-font, // body
    h1: relative-unit(80px),
    h2: relative-unit(28px),
    h3: relative-unit(20px),
				  //18
    h4: relative-unit(25px),
    h5: relative-unit(20px),
    h6: relative-unit(18px),
	h1_mobile: relative-unit(40px), //remove relative-unit
	h2_mobile: relative-unit(16px), //remove relative-unit
	h3_mobile: relative-unit(22px), //remove relative-unit
	h4_mobile: relative-unit(22px), //remove relative-unit
	h5_mobile: relative-unit(16px), //remove relative-unit
	h6_mobile: relative-unit(12px), //remove relative-unit
  ),
  space: (
    xxl: 45px, //relative-unit(45px)
    xl: 40px, //relative-unit(40px)
    lg: 30px, //relative-unit(30px)
    md: 25px, //relative-unit(25px)
    sm:  50px, //relative-unit(50px)
    xs: 40px, //relative-unit(40px)
    micro-xxl: 30px,
    micro-xl: 25px,
    micro-lg: 20px,
    micro-md: 15px,
    micro-sm: 10px,
    micro-xs: 5px,
  ),
  // gap: (
  //   sections: relative-font(140px),
  //   blocks: relative-font(100px),
  // ),
  breakpoint: (
    xs: 320px,
  	sm: 576px,
  	md: 768px,
  	lg: 992px,
  	xl: 1024px,
  	xxl: 1200px,
  ),
  color: (
    black: #000,
    white: #FFF,
    primary: #F1BD45,
    primary_light: #FFF3D8,
    link: #5375B7,
    price_old: #A9A9A9,
    caption: #8B8B8B,
    border: #DEDEDE,
    amount_inline: #ABABAB,
  ),
);
